@use "sass:map";
@use '@/globalCss/theme.scss' as *;
@use '@/globalCss/utils.scss' as utils;

$close: (
	w: 80px,
	h: 44px,
	py: 10px,
	px: 20px
);
$open: (
	w: 300px,
	h: 400px,
	py: 10px,
	px: 150px
);

$open-time: .3s;



.whish-list {
	position: relative;
	width: map.get($close, "w");
	height: map.get($close, "h");
	z-index: 99;

	
	.surface {
		@include utils.glass($favorite-color);
		position: absolute;
		top: 0px;
		right: 0px;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: map.get($close, "w");
		height: map.get($close, "h");
		overflow: hidden;
		border-radius: 16px;
		border: 1px solid transparent;
		padding: map.get($close, "py") map.get($close, "px");
		transition: all $open-time ease-in-out;

		.stars {
			position: absolute;
			top: map.get($close, "py");
			left: map.get($close, "px");
			display: flex;
			gap: 5px;

			line-height: 1.6rem;
			span:first-child {
				color: $accent-color;
			}
		} 

		.cross {
			@include utils.glass($accent-color);
			padding: 8px 6px;
			font-size: 0.7rem;
			line-height: 0.7rem;
			border-radius: 50%;
			position: absolute;
			top: map.get($close, "py");
			right: map.get($close, "px");
			opacity: 0;
			transition: opacity $open-time ease-in-out;
			
			&:hover {
				cursor: pointer;
				@include utils.glass-active($accent-color);
			}
		}
		
		.list {

			opacity: 0;
			margin-top: calc(map.get($close, "w") / 2);
			padding: 10px;
			height: calc(97% - (map.get($close, "w") / 2));
			width: 100%;
			transition: opacity $open-time ease-in-out;
			overflow-y: auto;
			// border: 1px solid $favorite-color;
			box-shadow: 0 0 5px $favorite-color;
			border-radius: 20px;
		}
		
		&.open {
			@include utils.glass-active($favorite-color);
			border: 1px solid $favorite-color;
			width: map.get($open, "w");
			height: map.get($open, "h");
			
			.cross {
				opacity: 1;
			}

			.list {
				opacity: 1;
			}
		}


	}
}