	.carousel-header {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: .75rem;

		.carousel-controls {
			display: flex;
			align-items: center;
			gap: .5rem;

			button[disabled] { opacity: .4; cursor: not-allowed; }
		}
	}